<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="grid gap-4 md:grid-cols-2">
        @for (field of data.fields; track $index) {

        <ng-container>
            <!-- Campo tipo select -->
            @if (field.type === 'select') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.name">
                    <mat-option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
            </mat-form-field>
            }

            <!-- Campo tipo textarea -->
            @if (field.type === 'textarea') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <textarea matInput [formControlName]="field.name" [placeholder]="field.placeholder || ''"></textarea>
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
            </mat-form-field>
            }

            <!-- Campo tipo texto/number/email/etc -->
            @if (field.type !== 'select' && field.type !== 'textarea' && field.type !== 'slide-toggle' && field.type !== 'checkbox-group') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [type]="field.type" [formControlName]="field.name"
                    [placeholder]="field.placeholder || ''" />
                <mat-error *ngIf="form.get(field.name)?.hasError('required') && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
                <mat-error *ngIf="form.get(field.name)?.hasError('email') && form.get(field.name)?.touched">
                    Correo inválido
                </mat-error>
                <mat-error *ngIf="form.get(field.name)?.hasError('emailTaken') && form.get(field.name)?.touched">
                    Este correo ya está registrado
                </mat-error>
                <mat-error *ngIf="form.get(field.name)?.hasError('phoneTaken') && form.get(field.name)?.touched">
                    Este teléfono ya está registrado
                </mat-error>
            </mat-form-field>
            }

            @if (field.type === 'slide-toggle') {
            <div class="flex items-center gap-2">
                <mat-slide-toggle color="primary" [formControlName]="field.name">
                    {{ form.get(field.name)?.value ? 'Activo' : 'Inactivo' }}
                </mat-slide-toggle>
            </div>
            }

            @if (field.type === 'checkbox-group') {
            <div class="flex flex-col gap-2">
                <label class="font-medium">{{ field.label }}</label>
                <div *ngFor="let option of field.options" class="flex items-center gap-2">
                    <mat-checkbox [checked]="form.get(field.name)?.value?.includes(option)"
                        (change)="onCheckboxGroupChange(field.name, option, $event.checked)">
                        {{ option.replace('ROLE_', '') }}
                    </mat-checkbox>
                </div>
            </div>
            }


        </ng-container>

        }
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="submit()">Guardar</button>
</mat-dialog-actions>
