<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
    <form [formGroup]="form" class="grid gap-4 md:grid-cols-2">
        @for (field of data.fields; track $index) {

        <ng-container>
            <!-- Campo tipo select -->
            @if (field.type === 'select') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <mat-select [formControlName]="field.name">
                    <mat-option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
            </mat-form-field>
            }

            <!-- Campo tipo textarea -->
            @if (field.type === 'textarea') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <textarea matInput [formControlName]="field.name" [placeholder]="field.placeholder || ''"></textarea>
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
            </mat-form-field>
            }

            <!-- Campo tipo texto/number/email/etc -->
            @if (field.type !== 'select' && field.type !== 'textarea') {
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [type]="field.type" [formControlName]="field.name"
                    [placeholder]="field.placeholder || ''" />
                <mat-error *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
                    Campo obligatorio
                </mat-error>
            </mat-form-field>
            }

        </ng-container>

        }
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="submit()">Guardar</button>
</mat-dialog-actions>
