<ul class="mt-5 text-sm space-y-1">
  <li [ngClass]="{ 'text-green-600': hasMinLength, 'text-red-600': !hasMinLength }">
    <mat-icon class="mr-1" inline>{{ hasMinLength ? iconCheck : iconClose }}</mat-icon>
    Mínimo 8 caracteres
  </li>
  <li [ngClass]="{ 'text-green-600': hasLetter, 'text-red-600': !hasLetter }">
    <mat-icon class="mr-1" inline>{{ hasLetter ? iconCheck : iconClose }}</mat-icon>
    Al menos una letra
  </li>
  <li [ngClass]="{ 'text-green-600': hasNumber, 'text-red-600': !hasNumber }">
    <mat-icon class="mr-1" inline>{{ hasNumber ? iconCheck : iconClose }}</mat-icon>
    Al menos un número
  </li>
  <li [ngClass]="{ 'text-green-600': hasSpecialChar, 'text-red-600': !hasSpecialChar }">
    <mat-icon class="mr-1" inline>{{ hasSpecialChar ? iconCheck : iconClose }}</mat-icon>
    Al menos un carácter especial
  </li>
</ul>

<!-- Barra de fuerza -->
<div class="mt-5">
  <div class="w-full h-2 rounded-full bg-gray-200">
    <div
      class="h-2 rounded-full transition-all duration-300"
      [ngClass]="strengthColor"
      [style.width.%]="strengthLevel * 25"
    ></div>
  </div>
  <div class="mt-1 text-xs font-medium text-gray-700">
    Fuerza: <span [ngClass]="textColor">{{ strengthText }}</span>
  </div>
</div>
